@font-face {
    font-family: Consolas;
    src: url("");
}
* {
    font-family: Consolas,sans-serif;

    margin: 0;
    padding: 0;
    color: white;
    text-decoration: none;
}

body{
    align-content: center;
    background: url("/files/GalaxyBackground.jpg") ;
    background-size: cover;
    width: 100vw;
    overflow-x: clip;
    height: 100vh;

}
.main{
    display: flex;
    flex-direction: column;
    width: min(60rem,100%);
    margin-inline: auto;
    text-align: center;
    height: 100%;
}

.head {
    margin-top: 3rem;
    font-size: 3rem;
}

.heading {
    text-shadow: hsl(231, 94%, 65%) 0 0 40px;
    font-size: max(min(8vw,9rem),3rem);
}

.info {
    height: 40vh;
}

.age {
    height: 10vh;
}

.survey {
    display: flex;
    justify-content: center;
    height: 20vh;
    align-items: center;
    font-size: 2rem;
}

.footer {

}

.arch {
    padding: 2rem;
}

@media screen and (max-width: 750px) {

    body{
        background: blue;
    }
    .info {
        padding-inline: 20px;
    }

}

.l-survey {
    width: max-content;
    padding: 1rem;
    height: max-content;
    background: hsla(255,0%,40%,10%);
    backdrop-filter: blur(0.1rem);
    border-radius: 1rem;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
}