
* {
    font-family: Consolas,sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    align-content: center;
    background: black;
    width: 100vw;
    overflow-x: clip;
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    width: min(60rem,100%);
    margin-inline: auto;
    text-align: center;
    height: 100%;
}

.head {
    margin-top: 3rem;
    font-size: 3rem;
}

.heading {
    text-shadow: hsl(231, 94%, 65%) 0 0 40px;
}

.info {
    height: 40vh;
}

.age {
    height: 10vh;
}

.survey {
    display: flex;
    justify-content: center;
    height: 20vh;
}

.footer {

}

.arch {
    padding: 2rem;
}

