
* {
    font-family: Consolas,sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

body{
    align-content: center;
    background: black;
    width: 100vw;
    overflow-x: clip;
    height: 100vh;
}
.main{
    display: flex;
    flex-direction: column;
    width: min(60rem,100%);
    margin-inline: auto;
    text-align: center;
    height: 100%;
}

.heading {
    margin-top: 3rem;
    font-size: 3rem;
}

.info {
    height: 40vh;
}

.age {
    height: 10vh;
}

.survey {
    display: flex;
    justify-content: center;
    height: 20vh;
}

.footer {

}

.arch {
    padding: 2rem;
}

.line {
    width: 100%;
    height: 2rem;
    background: white;
}
.line::after  {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    background: none;
    z-index: -1;
    box-shadow: powderblue 20px 20px 60px;
}

.rver {
    width: 100px;
    height: 4rem;
    margin-left: 100%;
}
